{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}"> 

    {% csrf_token %}

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/> 
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>

    <!-- Leaflet Draw-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

    <!-- jquery DEV VERSION-->
    <script src="{% static 'dashboard/jquery.js' %}"></script>
  </head>
  <body>
    <!-- Header -->
  <header class="p-2 text-bg-dark align-items-start">
  </header>

  <!-- Main Content -->
  <main class="d-flex flex-nowrap">

    <!-- Sidebar -->
    <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-0 bg-dark">
      <div id="sidebar-btn-container" class="container py-0 my-0">
        <ul class="nav nav-pills flex-column mb-auto pb-1">
          <li class="nav-item">
            <a id="login-btn" role="button" href="/" class="nav-link text-white" aria-current="page">
              Login
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">
              Search
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="page-split" class="container-fluid d-flex px-1 py-0">
      <div id="left-section" class="container">

        <!-- Left Section Buttons/Search -->
        <div id="search-btns" class="d-flex justify-content-center">
          <div class="btn-group">
            <button type="button" id="list-search-btn" class="btn btn-sm btn-outline-secondary py-2 active">
              List
            </button>
            <button type="button" id="map-search-btn" class="btn btn-sm btn-outline-secondary py-0">
              Map
            </button>
          </div>
          <form id="search-form" role="search">
            <div class="btn-group pb-0">
              <input id="search-bar" type="search" class="form-control form-control-light text-bg-light" placeholder="Search..." aria-label="Search">
              <button type="button" id="search-btn" class="btn btn-sm btn-secondary py-2">
                <p class="float-start">Search</p>
              </button>
            </div>
          </form>
        </div>  

        <!-- Left Section Results -->
        <div class="album py-3 px-1">
          <div class="container px-1">
            <div id="livestream-container" class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-3 g-3">
              {% for stream in livestreams %}
                {% if "http" in stream.source %}
                  <div id="col-{{ stream.id }}" class="col p-0">
                    <div class="card">
                      {% with stream.source|replace_string:'latest-frame,latest-thumb' as thumbnail_url %}
                        <a href="{{ stream.source }}" class="thumbnail-btn btn p-0" target="_blank" rel="noopener noreferrer" role="button">
                          <img id="stream-{{ stream.id }}" src="{{ thumbnail_url }}" data-id="{{ stream.id }}" data-source="{{ stream.source }}" data-title="{{ stream.title }}" data-agency="{{ stream.agency }}" data-creator="{{ stream.created_by.username }}" class="card-img-top" focusable="true" _mstaria-label="4468347" _mstHash="13" style="direction: ltr; text-align: left;"/>
                        </a>
                      {% endwith %}
                      <div class="card-body d-flex flex-column p-0">
                        <div class="stream-name">
                          <p class=" pl-0 ml-0">{{ stream.title }}</p>
                        </div>
                        <div class="btn-group">
                          <button data-button-id="{{ stream.id }}" class="addview-btn btn btn-sm btn-outline-primary">Add to Viewport</button>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div id="right-section" class="container-fluid bg-dark">

        <!-- Right Section Buttons -->
        <div id="viewport-btns" class="d-flex justify-content-center">
            <button type="button" id="resize-panel-btn" class="btn btn-sm btn-secondary py-2">
              <p id="resize-panel-txt" class="float-start">Expand Viewport</p>
            </button>
            <button type="button" id="clear-viewport-btn" class="btn btn-sm btn-danger py-2">
              <p id="resize-panel-txt" class="float-start">Clear</p>
            </button>
            <button type="button" id="list-view-btn" class="btn btn-sm btn-outline-secondary active py-2">
              <p id="resize-panel-txt" class="float-start">List</p>
            </button>
            <button type="button" id="grid-view-btn" class="btn btn-sm btn-outline-secondary py-2">
              <p id="resize-panel-txt" class="float-start">Grid</p>
            </button>
            <input type="text" class="form-control-sm" id="viewport-name" placeholder="name" aria-label="Viewport Name" aria-describedby="inputGroupPrepend2" required>
            <button type="button" id="open-viewport-btn" class="btn btn-sm btn-secondary py-2">
              <p class="float-start">Save Viewport</p>
            </button>
        </div>

        <!-- Right Section Viewport -->
        <div class="container">
          <div id="quilt" class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1 g-0">
          </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="{% static 'dashboard/observer.js' %}"></script>
    <script src="{% static 'dashboard/right-section.js' %}"></script>
    <script>
      let id = "{{ user.id }}";
      setUserId(id);
    </script>
  </main>
  <script src="{% static 'dashboard/search.js' %}"></script>
  <script src="{% static 'dashboard/session.js' %}"></script>
  <script>
    const isAuthenticated = {{ is_authenticated|yesno:"true,false" }};
    const user_id = "{{ user.id }}";
    updateLoginBtn(isAuthenticated, user_id);
  </script>
  </body>
</html>