{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ group.name }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'dashboard/profile.css' %}">
    </head>
    <body>
        <header class="p-3 text-bg-dark">
            <div class="d-flex flex-row align-items-right justify-content-center justify-content-lg-start">
              <a href="/dashboard" role="button" class="btn btn-sm btn-outline-light">Home</a>
            </div>
        </header>
        <main class="form-signin w-100">
            <h1 class="my-3 fw-normal text-center">{{ group.name }}</h1>
            <div class="pl-3 text-center">
                <h4>{{ group.members.count }} {% if group.members.count == 1 %}Member{% else %}Members{% endif %}</h2>
            </div>
        </main>
    </body>
</html>