{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}"> 

    {% csrf_token %}
    
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/> 
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>

    <!-- Leaflet Draw-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

    <!-- jquery DEV VERSION-->
    <script src="{% static 'dashboard/jquery.js' %}"></script>
  </head>
  <body>
    <!-- Header -->
  <header>
    <div class="dropdown">
    </div>
  </header>

  <!-- Main Content -->
  <main>
    <div class="container">
      <div class="left-section">
        
      </div>

      <div class="middle-section">
        <div id="map" data-mapbox-api-key="{{ MAPBOX_API_KEY }}">
        </div>
        <script src="{% static 'dashboard/map.js' %}" defer></script>
      </div>

      <div class="right-section" id="panel">
        <div class="resize-handle"></div>
        <div class="img-container">
          <img class="live-img" src="https://hpwren.ucsd.edu/cameras/L/bm-n-mobo-c.jpg"/>
          <img class="live-img" src="https://hpwren.ucsd.edu/cameras/L/sjh-e-mobo-c.jpg"/>
          <img class="live-img" src="https://hpwren.ucsd.edu/cameras/L/bi-n-mobo-c.jpg"/>
          <img class="live-img" src="https://hpwren.ucsd.edu/cameras/L/buff-n-mobo-c.jpg"/>
          <img class="live-img" src="https://hpwren.ucsd.edu/cameras/L/ch-n-mobo-c.jpg"/>
          <img class="live-img" src="https://hpwren.ucsd.edu/cameras/L/cp-n-mobo-c.jpg"/>
        </div>
      </div>

      <script>
        const sidePanel = document.querySelector('.right-section');
        const resizeHandle = document.querySelector('.resize-handle');
        let initialX, initialWidth;
        
        resizeHandle.addEventListener('mousedown', (e) => {
          e.preventDefault();
          initialX = e.clientX;
          initialWidth = sidePanel.getBoundingClientRect().width;
          document.addEventListener('mousemove', onMouseMove);
          document.addEventListener('mouseup', onMouseUp);
        });
        
        function onMouseMove(e) {
          const container = sidePanel.parentElement.parentElement.parentElement;
          const containerWidth = container.getBoundingClientRect().width;
          const newWidth = initialWidth - e.clientX + initialX;
        
          if (newWidth < containerWidth && newWidth > 100) {
            sidePanel.style.width = newWidth + 'px';
          }
        }
        
        function onMouseUp() {
          document.removeEventListener('mousemove', onMouseMove);
          document.removeEventListener('mouseup', onMouseUp);
        }
        
      </script>
    </div>
  </main>
  </body>
</html>