{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}"> 

    {% csrf_token %}

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/> 
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>

    <!-- Leaflet Draw-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

    <!-- jquery DEV VERSION-->
    <script src="{% static 'dashboard/jquery.js' %}"></script>
  </head>
  <body>
    <!-- Header -->
  <header class="p-3 text-bg-dark">
    <div class="d-flex flex-row-reverse align-items-right justify-content-center justify-content-lg-start">
      <a href="/dashboard/login" role="button" class="btn btn-sm btn-outline-light">Login</a>
    </div>
  </header>

  <!-- Main Content -->
  <main class="d-flex flex-nowrap">
    <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-1 text-bg-dark">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/stream" class="nav-link">
            Start Stream
          </a>
        </li>
        <hr>
        <div class="list-group list-group-flush border-bottom scrollarea">
          {% for agency in agencies %}
            <a href="/dashboard/agency/{{agency.id}}" class="list-group-item list-group-item-action py-3 lh-sm">
              <div class="d-flex align-items-center justify-content-between">
                <strong>{{ agency.name }}</strong>
                <small>Live Now</small>
              </div>
            </a>
          {% endfor %}
        </div>
      </ul>
    </div>

    
    <div id="page-split" class="container-fluid d-flex">

      <div id="left-section" class="container-fluid">
        <section class="py-5 text-center container">
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-light text-bg-light" placeholder="Search..." aria-label="Search">
          </form>
        </section>

        <div class="album py-3">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
              <!-- programmatically add results from databse in this format-->
              <div class="col">
                <div class="card">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="true" _mstaria-label="4468347" _mstHash="13" style="direction: ltr; text-align: left;">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                  <div class="card-body">
                    <p class="card-text">Description of video</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">CalFire</small>
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-primary">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- programmatically add results from databse in this format-->
              <div class="col">
                <div class="card">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="true" _mstaria-label="4468347" _mstHash="13" style="direction: ltr; text-align: left;">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                  <div class="card-body">
                    <p class="card-text">Description of video</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">California National Guard</small>
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-primary">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
      <div id="right-section" class="container-fill">
        <div id="resize-handle"></div>
        <div id="quilt">
          <div class="display-container">
            <div class="display-img">
              <img class="live-img" src="https://cameras.alertcalifornia.org/public-camera-data/Axis-AlabamaHills1/latest-frame.jpg?rqts=1683215838">
            </div>
            <div class="live-info">
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">California National Guard</small>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                  <button type="button" class="btn btn-sm btn-outline-danger">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    -->
    </div>
    <script src="{% static 'dashboard/right-section.js' %}"></script>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>