{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ user.username }} | New Stream</title>
        <meta charset="utf-8">
        {% csrf_token %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'dashboard/profile.css' %}">
        <script src="{% static 'dashboard/jquery.js' %}"></script>
    </head>
    <body class="text-center">
        <header class="p-3 text-bg-dark">
            <div class="d-flex flex-row align-items-right justify-content-center justify-content-lg-start">
              <a href="/dashboard" role="button" class="btn btn-sm btn-outline-light">Home</a>
            </div>
        </header>
        <main class="container">

        </main>
    </body>
</html>