{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ user.username }} | Profile</title>
        <meta charset="utf-8">
        {% csrf_token %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'dashboard/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'dashboard/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'dashboard/profile.css' %}">
    </head>
    <body class="text-center">
        <header class="p-3 text-bg-dark">
            <div class="d-flex flex-row align-items-right justify-content-center justify-content-lg-start">
              <a href="/dashboard" role="button" class="btn btn-sm btn-outline-light">Home</a>
            </div>
        </header>
        <main class="container">
            <section class="py-5 container">
                <h1 class="h3 mb-3 ">{{ user.username }}</h1>
            </section>
            <div class="container-fluid">

                <div class="container list-container">
                    <table class="table my-4 justify-content-between">
                        <thead>
                            <tr>
                                <th scope="col">Protocol</th>
                                <th scope="col">Your stream URL</th>
                            </tr>
                        </thead>
                        <tbody class="justify-content-between">

                                <tr class="">
                                    <td>
                                        RTSP
                                    </td>
                                    <td>
                                        rtsp://stream.kleinfourlabs.com:8554/{{ user.id }}/stream{{ user.created_livestreams.count }}
                                    </td>
                                </tr>
                                <tr class="">
                                    <td>
                                        RTMP
                                    </td>
                                    <td>
                                        rtmp://stream.kleinfourlabs.com:1935/{{ user.id }}/stream{{ user.created_livestreams.count }}
                                    </td>
                                </tr>

                        </tbody>
                    </table>
                </div>

                <div class="container list-container">
                    {% if user.viewports.count > 0 %}
                    <h1 class="h3 my-3">Viewports</h1>
                    <table class="table my-4 justify-content-between">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Stream Count</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="justify-content-between">
                            {% for viewport in user.viewports.all %}
                                <tr class="">
                                    <td>{{ viewport.name }}</td>
                                    <td>{{ viewport.date_created }}</td>
                                    <td>{{ viewport.livestreams.count }}</td>
                                    <td>
                                        <button class="delete-viewport-btn btn btn-sm btn-outline-danger" data-viewport-id="{{ viewport.id }}">Delete</button>
                                        <button class="open-viewport-btn btn btn-sm btn-outline-secondary" data-viewport-id="{{ viewport.id }}">View in New Tab</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p class="text-muted">You have not created any viewports yet.</p>
                    {% endif %}
                </div>

                <div class="container list-container">
                    {% if user.created_livestreams.count > 0 %}
                    <h1 class="h3 mb-3 ">Streams</h1>
                    <table class="table justify-content-between">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Visibility</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="justify-content-between">
                            {% for stream in user.created_livestreams.all %}
                                <tr>
                                    <td scope="row">{{ stream.title }}</td>
                                    <td>
                                        <div class="dropdown show">
                                            <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                                              {% for group in stream.groups.all %}
                                                {{ group.name }}
                                              {% endfor %}
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <form action="/dashboard/change-visibility/{{ stream.id }}/" method="post">
                                                    {% csrf_token %}
                                                    {% if stream.is_public %}
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="private" name="private_public" onchange="uncheckOthers(this);">
                                                            <label class="form-check-label" for="private">
                                                                Private
                                                            </label>
                                                        </div>
                                                    {% else %}
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="public" name="private_public" onchange="uncheckOthers(this);">
                                                            <label class="form-check-label" for="public">
                                                                Public
                                                            </label>
                                                        </div>
                                                    {% endif %}
                                                    {% for group in visibilityForm.groups.field.queryset %}
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="{{ group.id }}" name="{{ group.name }}" id="group{{ forloop.counter }}" onchange="uncheckPrivatePublic(this);">
                                                            <label class="form-check-label" for="group{{ forloop.counter }}">
                                                            {{ group.name }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                    <button type="submit" class="btn btn-primary submit-btn" data-stream-id="{{ stream.id }}">Save</button>
                                                </form>
                                            </div>
                                          </div>
                                    </td>
                                    <td>
                                        <button class="stop-btn btn btn-sm btn-outline-danger" data-stream-id="{{ stream.id }}">Stop</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </main>
        <script src="{% static 'dashboard/profile.js' %}"></script>
        <script>
            let id = "{{ user.id }}";
            setUserId(id);
          </script>
    </body>
</html>