@import "bootstrap/bootstrap.min.css";

html, body, main {
  background-color: var(--bs-dark);
}

p, h1, h2, h3, h4, h5, h6, td, th {
  color: var(--bs-light);
}

.list-container {
  background-color: var(--bs-gray-800);
}